.container-class {
    border-radius: 15px;
    max-width: 3000px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;  
}

.movie-container{
    padding-bottom: 10px;
}

.movie-item{
    width:85%;
}

.nominate-button-container{
    width:10%;
}

.nominate-button{
    height:30px;
}

.clearfix{
    clear: both;
}

.flex-container {
    display: flex;
    margin-bottom: 10px;
}

.see-more-container {
    width: 15%;
}

.see-more {
    margin-left: 10px;
    height: 30px;
  
}

.modal-button{
    float:right;
}